version: '3.8'

services:
  postgres:
    image: postgres:17-alpine
    container_name: booking-postgres
    environment:
      POSTGRES_DB: booking_system
      POSTGRES_USER: booking_user
      POSTGRES_PASSWORD: booking_pass
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - booking-network
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: booking-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - booking-network
    command: redis-server --appendonly yes --appendfsync everysec
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:

networks:
  booking-network:
    driver: bridge